@charset "UTF-8";

.print_preview {
	border: 3px solid #7d7a7a;
	padding: 10px;
}

hr {
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: auto;
	margin-inline-end: auto;
	overflow: hidden;
	border-style: inset !important;
	border-width: 2px !important;
}

#recept_no {
	font-family: monospace;
}

#current_date {
	font-family: monospace;
	float: right;
	position: inherit;
}

.thaks_payment label {
	margin-left: 8px
}

.authorisedsignatory {
	float: right;
	padding-right: 25px;
}
